*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    min-height: 40vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Images/background.jpg);
    position: relative;
}
span{
    color: red;
}
.nav-links{
    flex: 1;
    text-align: right;
}
nav img{
    width: 150px;
    margin: 15px 30px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links ul li{
    display: inline-block;
    padding: 30px;
    list-style: none;
    position: relative;
    margin-left: 30px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-family: system-ui;
    font-size: 15px;
}
.nav-links ul li::after{
    content: "";
    display: block;
    background-color: rgb(203, 58, 58);
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    width: 90%;
    text-align: center;
}
.heading{
    font-size: 59px;
    font-family: helvetica;
}
.text-box p{
    margin: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: helvetica;
}
.text-btn{
    display: inline-block;
    text-decoration: none;
    color: red;
    padding: 10px;
    border: 1px solid red;
    margin: 3px 2px;
    position: relative;
    cursor: pointer;
}
.text-btn:hover{
    background-color: red;
    color: white;
    transition: 0.5s;
}
nav .fa{
    display: none;
}
.Heading-1{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white; 
    font-size: 25px;
    margin-top: 62px;
}
h1{
    font-weight: 300;
    padding: 25px;
}
nav .fa{
    display: none;
}
@media (max-width:700px) {
    .Heading-1{
        font-size: 20px;
    }
    nav .fa{
        display: none;
    }
    @media (max-width:700px) {
        .text-box h1{
            font-size: 30px;
        }
        .text-box p{
            font-size: 10px;
        }
        .text-btn{
            padding: 8px;
        }
        .navlink ul li{
            display: block;
        }
        .nav-links{
            position: absolute;
            background: black;
            height: 100vh;
            width: 200px;
            top: 0;
            right: 0;
            text-align: left;
            z-index: 2;
            transition: 0.7s;
        }
        nav .fa{
            display: block;
            color: white;
            margin: 10px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}
/* description */
.Title-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    padding-top: 35px;
}
.Title-paragraph{
    font-size: 20px;
    font-family:Helvetica;
    font-weight: bold;
    text-align: center;
}
.Description{
    margin: auto;
    width: 80%;
    margin-top: 10px;
}
.Description-coln p{
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;
    margin-bottom: 30px;

}
.img-2{   
    height: 40vh;
    border-radius: 10px;
}
.img-1{   
    height: 40vh;
    border-radius: 10px;
    margin-left: 20px;
}

/* details */
.main-detail{
    margin: auto;
    width: 80%;
}
.main-detail-2{
    margin: auto;
    width: 80%;
}
.details-1-div{
    width: 100%;
    background-color: whitesmoke;
}
.details-1{
    padding: 80px 0px;
    width: 80%;
    margin: auto;  
}

h3{
    margin-left: 17px;
    margin-bottom: 10px;
    font-size: 35px;
    color: rgba(15, 14, 14, 0.96);
    font-weight: 300;
}   
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.paragraph-1{
    text-align: justify;    
    font-size: 16px;
    font-weight: lighter;
    font-family: sans-serif;
    margin-left: 20px;
    line-height: 27px;
}


/* media query */
@media (max-width:700px) {
    
    /* details */
    .img-2{   
    height: 26vh;
    border-radius: 10px;
    }
    .img-1{   
    height: 26vh;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 0;
}
.row{
    flex-direction: column;
} 
.paragraph-1{  
    font-size: 12px;
    font-weight: lighter;
    font-family: sans-serif;
    margin-top: 20px;
    text-align: justify;
}
/* description */
.Description-coln p{
    font-size: 14px;
}
.Title-paragraph{
font-size: 18px;
}
.Title-heading{
    font-size: 21px;
}
.Heading-1{
    font-size: 18px;
}
.header{
    min-height: 30vh;
}
h3{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}
    .paragraph-1{
        text-align: justify;    
        margin-left: 0px;
    }
}

@media (min-width: 922px) {
    .img-2{   
        height: 26vh;
        }
        .img-1{   
        height: 26vh;
    }
}
/* footer */
h4{
    color: white;
}
.main-div{
    width: 100%;
    background: rgba(15, 14, 14, 0.96);
    overflow: hidden;
}
.footer{
    display: flex;
    width: 80%;
    padding: 60px;
    margin: auto;
    color: white;
}
.footer-headings{
    font-family: arial;
}
.footer div{
    text-align: center;
}
.footer-coln-2{
    flex-grow: 1;
}
.footer-heading{
    font-family: arial;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.footer p{
    font-family: sans-serif;
    font-weight: lighter;
}
.footer-coln-1 a{
    font-family: sans-serif;
    font-weight: lighter;
    text-decoration: none;
    color: rgb(244, 244, 244); 
    display: block;
    margin-bottom: 10px;
}
.footer-coln-3 p{
    font-family: sans-serif;
    font-weight: lighter;
}
form input{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 1px solid #fff;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}
.icons{
    margin-top: 20px;
    font-size: 24px;
}
.icons a{
    color: rgb(255, 255, 255);
    margin: 5px;
}
@media (max-width:700px) {
    .footer{
        font-size: 12px;
        padding: 40px;
        color: white;
        justify-content: space-around;
    }

    .footer-heading{
        font-size: 10px;
    }
    form input{
        width: 135px;
        height: 20px;
        margin-top: 20px;
    }
    form button{
        font-size: 12px;
        padding: 5px 20px;
        
    }
    .icons{
        font-size: 16px;
    }
    .heading-2{
        line-height: 30px;
    }

}
@media (max-width:322px) {
    
}

