*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Images/background.jpg);
    position: relative;
}
span{
    color: red;
}
.nav-links{
    flex: 1;
    text-align: right;
}
nav img{
    width: 200px;
    margin: 15px 30px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}
.nav-links ul li{
    display: inline-block;
    padding: 30px;
    list-style: none;
    position: relative;
    margin-left: 30px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-family: system-ui;
    font-size: 15px;
}
.nav-links ul li::after{
    content: "";
    display: block;
    background-color: rgb(203, 58, 58);
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    width: 90%;
    text-align: center;
}
.heading{
    font-size: 59px;
    font-family: helvetica;
}
.text-box p{
    margin: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: helvetica;
}
.text-btn{
    display: inline-block;
    text-decoration: none;
    color: red;
    padding: 10px;
    border: 1px solid red;
    margin: 3px 2px;
    position: relative;
    cursor: pointer;
}
.text-btn:hover{
    background-color: red;
    color: white;
    transition: 0.5s;
}
nav .fa{
    display: none;
}
@media (max-width:700px) {
    .text-box h1{
        font-size: 30px;
    }
    .text-box p{
        font-size: 10px;
    }
    .text-btn{
        padding: 8px;
    }
    .navlink ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 0.7s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
}
/* course */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 90px;
}
.heading-2{
    font-size: 36px;
    color: #777;
    font-weight: 300;
    line-height: 10px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    cursor: default;
}
.course-coln{
    flex-basis: 31%;
    background: #fff3ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.7s;
} 
p{
    font-family: sans-serif;
    font-weight: lighter;
}
.h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-family: arial;
}
.course-coln:hover{
    box-shadow: 0 0 20px 0 rgba(109, 108, 108, 0.45);
}
@media (max-width:700px) {
    .row{
        flex-direction: column;
    }  
}
/* campus */
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
.campus-coln{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}

.campus-coln img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
    width: 100%;
    height: 100%;
}
.layer:hover{
    background: rgba(52, 52, 52, 0.395);

}
.layer h3{
    position: absolute;
    width: 100%;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    opacity: 0;
    transition: 0.4s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/* failities */
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
.facilities-coln{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-coln img{
    width: 100%;
    border-radius: 10px;
}
.facilities-coln p{
    padding: 0;
    font-weight: lighter;
    font-family: sans-serif;
}
.facilities-coln h3{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    font-family: arial;
}
/* testimonials */
.testimonials{
    text-align: center;
    margin: auto;
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.testimonials-coln{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;

}
.testimonials-coln img{
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 30px;
}
.testimonials-coln p{
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
}
.testimonials h1{
    font-family: arial;
}
.testimonials-coln h3{
    text-align: left;
    margin: 15px;
    font-family: Arial;
}
@media (max-width:700px) {
    .testimonials-coln img{
        margin-left: 0px;
        margin-right: 15px;
    }
   .Call h1{
    font-size: 24px;
   } 
}
/* call */
.Call{
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 60px 0;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Images/banner2.jpg);
}
.Call h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
   font-family: helvetica;
   font-weight: bold;
}

/* footer */
.main-div{
    width: 100%;
    background: rgba(15, 14, 14, 0.96);
}
.footer{
    display: flex;
    width: 80%;
    padding: 60px;
    margin: auto;
    color: white;
}
.footer-headings{
    font-family: arial;
}
.footer div{
    text-align: center;
}
.footer-coln-2{
    flex-grow: 1;
}
.footer-heading{
    font-family: arial;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.footer p{
    font-family: sans-serif;
    font-weight: lighter;
}
.footer-coln-1 a{
    font-family: sans-serif;
    font-weight: lighter;
    text-decoration: none;
    color: rgb(244, 244, 244); 
    display: block;
    margin-bottom: 10px;
}
.footer-coln-3 p{
    font-family: sans-serif;
    font-weight: lighter;
}
form input{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 1px solid #fff;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}
.icons{
    margin-top: 20px;
    font-size: 24px;
}
.icons a{
    color: rgb(255, 255, 255);
    margin: 5px;
}
@media (max-width:700px) {
    .footer{
        font-size: 12px;
    }
    .footer-heading{
        font-size: 18px;
    }
    form input{
        width: 200px;
        height: 20px;
        margin-top: 20px;
    }
    form button{
        font-size: 12px;
        padding: 5px 20px;
        
    }
    .icons{
        font-size: 16px;
    }
}