*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    min-height: 40vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Images/background.jpg);
    position: relative;
}
.nav-links{
    flex: 1;
    text-align: right;
}
nav img{
    width: 150px;
    margin: 15px 30px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links ul li{
    display: inline-block;
    padding: 30px;
    list-style: none;
    position: relative;
    margin-left: 30px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-family: system-ui;
    font-size: 15px;
}
.nav-links ul li::after{
    content: "";
    display: block;
    background-color: rgb(203, 58, 58);
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    width: 90%;
    text-align: center;
}
.heading{
    font-size: 59px;
    font-family: helvetica;
}
.text-box p{
    margin: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: helvetica;
}
.text-btn{
    display: inline-block;
    text-decoration: none;
    color: red;
    padding: 10px;
    border: 1px solid red;
    margin: 3px 2px;
    position: relative;
    cursor: pointer;
}
.text-btn:hover{
    background-color: red;
    color: white;
    transition: 0.5s;
}
nav .fa{
    display: none;
}
.Heading-1{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white; 
    font-size: 25px;
    margin-top: 62px;
}
h1{
    font-weight: 300;
    padding: 25px;
}
nav .fa{
    display: none;
}
@media (max-width:700px) {
    .Heading-1{
        font-size: 20px;
    }
    nav .fa{
        display: none;
    }
    @media (max-width:700px) {
        .text-box h1{
            font-size: 30px;
        }
        .text-box p{
            font-size: 10px;
        }
        .text-btn{
            padding: 8px;
        }
        .navlink ul li{
            display: block;
        }
        .nav-links{
            position: absolute;
            background: black;
            height: 100vh;
            width: 200px;
            top: 0;
            right: 0;
            text-align: left;
            z-index: 2;
            transition: 0.7s;
        }
        nav .fa{
            display: block;
            color: white;
            margin: 10px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}
h1{
text-align: center;
font-size: 35px;
font-weight: 300;
color: white;
margin-top: 62px;
}
span{
    color: red;
}
.section-1{
    width: 80%;
    margin: auto;
}
.main-container{
    margin-top: 50px;
}
.container-img{
    display: flex;
    justify-content:  space-between;
    align-items: center;
}
.container-img img{
    height: 64vh;
    margin: 10px;
    box-shadow: 0 0 20px 0 rgba(163, 162, 162, 0.866);
    cursor: pointer;
    transition: 0.5s;
}
 
p{
    text-align: center;
    line-height: 20px;
    margin-top: 30px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: lighter;
}
.button a{
    border: 1px solid ;
    padding: 18px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 18px; 
    font-family: sans-serif;
    transition: 0.7s;

}   
.button :hover{
    border-radius: 30px ;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
/* footer */
.main-div{
    width: 100%;
    background: rgba(15, 14, 14, 0.96);
}
.footer{
    display: flex;
    width: 80%;
    padding: 60px;
    margin: auto;
    color: white;
    margin-top: 30px;
}
.footer-headings{
    font-family: arial;
}
.footer div{
    text-align: center;
}
.footer-coln-2{
    flex-grow: 1;
}
.footer-heading{
    font-family: arial;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.footer p{
    font-family: sans-serif;
    font-weight: lighter;
}
.footer-coln-1 a{
    font-family: sans-serif;
    font-weight: lighter;
    text-decoration: none;
    color: rgb(244, 244, 244); 
    display: block;
    margin-bottom: 10px;
}
.footer-coln-3 p{
    font-family: sans-serif;
    font-weight: lighter;
}
form input{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 1px solid #fff;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}
.icons{
    margin-top: 20px;
    font-size: 24px;
}
.icons a{
    color: rgb(255, 255, 255);
    margin: 5px;
}
@media (max-width:700px) {
    .footer{
        font-size: 12px;
        padding: 40px;
        color: white;
        justify-content: space-around;
    }
    .footer-heading{
        font-size: 10px;
    }
    form input{
        width: 135px;
        height: 20px;
        margin-top: 20px;
    }
    form button{
        font-size: 12px;
        padding: 5px 20px;
        
    }
    .icons{
        font-size: 16px;
    }
    .heading-2{
        line-height: 30px;
    }
    .container-img{
        flex-direction: column;
    }
    .container-img img{
        height: 60vh;
    }
    .container-row{
        margin: 0;
    }
    p{
        font-size: 13px;
    }
    .button a{
        font-size: 13px;
        padding: 12px;
    }
}